/* 全局定义 */
*{padding:0; margin:0; list-style:none; font-family:Verdana}
a:link,a:visited{color:#4e4e4e;text-decoration:none;}
a:hover,a:active{color:#000;text-decoration:none;}
body,html{color:#4e4e4e; font-size:12px; background:#c8dfc5; }
img{ border:0}
.clear {clear: both;}
a:focus { outline:0}

/* ie6 hack */
#header_ya{ _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<980?"980px":"")}
#left{ _height:expression((document.documentElement.clientHeight||document.body.clientHeight)<700?"700px":"") }
#right{ _height:expression((document.documentElement.clientHeight||document.body.clientHeight)<700?"700px":"")}
#middle{ _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<550?"550px":"")}
#warp{  _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<980?"980px":"")}

/* 头部 */
#header_ya{ height:77px; background:url(../img/header_bg.gif) repeat-x top; padding-left:20px; min-width:980px;}
#logo{ width:393px; height:71px; float:left; }
#header_right{ height:71px; margin-left:420px}
#header_right ul{}
#header_right li{ padding-top:3px; float:left; padding-right:10px;}

/* 伸缩框架 */
.content{ padding-top: 0px;}
.tool{width:8px;float:left;cursor: pointer}
.tool img{margin-top:240px;}

/* 主体 */
#warp{ background-color:#c8dfc5; padding:10px; min-width:980px }

/* 左侧布局 */
#left{ width:196px;float:left; background:#f7f7f7; border:1px solid #a6bfaa; min-height:700px; }
.left_top { height:35px;background:url(../img/menu_top_bg.gif) repeat-x top; font-weight:bold; line-height:30px; padding-left:10px;}
.left_user{ width:194px; height:92px; padding-top:20px; background:url(../img/left_user_bg.gif) no-repeat;}
.left_photo{width:50px; float:left; padding-left:14px;}
.left_member{width:116px;float:left; padding-left:8px;}
.left_member h2{ font-size:14px; color:#487fbe; padding-bottom:10px; padding-top:2px;}

.left_menu { width:180px; float:left; padding-left:10px;}
.left_menu ul{width:180px;}
.left_menu li{border-bottom: #dadada 1px solid; height:28px;}
.left_menu li:hover { background-color:#a9d54d}
.left_menu li img{ padding:6px 10px 0 10px;}

.left_menu li a:hover{ color:#13927d}
.left_menu li a:visited{ color:#13927d}

/* 中间+右侧主体 */
#main{ margin-left:210px; min-width:760px;}

/* 右侧布局 */
#rightd{ width:210px; padding-left:10px;float:left;}
#right{ background:#fff; border-left: #a6bfaa 1px solid; border-right: #a6bfaa 1px solid; border-bottom: #a6bfaa 1px solid;min-height:700px;}
.right_top { height:35px;background:url(../img/menu_top_bg.gif) repeat-x top; font-weight:bold; line-height:30px; padding-left:10px;border-top: #a6bfaa 1px solid}
.message { padding-left:10px; float:left; margin-right:500px;}
.message h2{ font-size:12px;}
.message ul{width:790px;}
.message li{border-bottom: #dadada 1px dashed; line-height:25px; float:left; padding-right:10px;}
.message li img{ padding:6px 5px 0 5px;}
.message li span{ color:#1f8eec; font-weight:bold}


/* 中间布局 */
#middle{margin:0 214px 0 210px; min-width:550px;}
#middle2{margin:0 0 0 210px; min-width:550px;}
.map{height:638px;background:#fff; border-right: #a6bfaa 1px solid; border-bottom: #a6bfaa 1px solid;border-left: #a6bfaa 1px solid }
.map_top { height:35px;background:url(../img/menu_top_bg.gif) repeat-x top; line-height:30px; padding-left:10px;border-top: #a6bfaa 1px solid; font-weight:bold}
.map_show{ height:580px;}
.map_opt { height:20px;}
.map_bottom{ height:50px; padding:10px 0 0 10px; background:#fff; border:1px solid #a6bfaa; }
.middle_content{ padding:10px}

.rtlist{background:#fff; border-right: #a6bfaa 1px solid; border-bottom: #a6bfaa 1px solid;border-left: #a6bfaa 1px solid }
.rtnr{ height:638px;padding:20px 10px 10px 10px;}
.trnrmenu{ height:28px; background:url(../img/right_nr_bg.gif) repeat-x top; padding-top:8px; padding-left:10px; margin-top:10px;}
.thnr_add {float:right; padding:0 0 0 20px; background:url(../img/add.gif) no-repeat left center; height:25px; line-height:25px }

/* 变成2列地图位置 */
.rmaplist{height:700px;background:#fff; border-right: #a6bfaa 1px solid; border-bottom: #a6bfaa 1px solid;border-left: #a6bfaa 1px solid ; width:552px; float:left;}
.rmapnr{ padding-bottom:5px;}
.rmbutt{height:35px; padding:10px 0 5px 10px; margin-right:600px;float:left;}

/* 中间TAB */
.middle_tab{ margin-bottom:10px}
.tabs {border-bottom:1px solid #666;height:30px;}
.tabs li {float:left}
.tabs a {background: url(../img/blue.png) no-repeat -420px 0;display:block; height: 30px;line-height:30px;width: 134px;text-align:center;position:relative;top:1px;}
.tabs a:hover {background-position: -420px -31px;color:#fff;}
.tabs a.current, .tabs a.current:hover, .tabs li.current a {background-position: -420px -62px;cursor:default;color:#000 }
.pane{display:none;padding:15px 10px 10px 35px;border:1px solid #999;border-top:0; background-color:#fff;}
.pane_pic { padding-top:20px;}



/* 表格样式 */
#table_one{ border-top: #929292 1px solid;border-left: #c8c8c8 1px solid;border-bottom: #c8c8c8 1px solid; background-color:#FFFFFF}
#table_one td{ border-right: #c8c8c8 1px solid;border-top: #c8c8c8 1px solid; text-align:center; font-size:12px; padding:5px;}
#table_one td img{ padding:0 3px}
#table_one th{ border-right: #c8c8c8 1px solid; background:url(../img/table_title_bg.gif) repeat-x top; text-align:center; font-size:12px;color:#0b5d9a;height:28px}
#table_one tr{ height:28px}
#table_one a:hover{ color:#FF9900}
#table_one a:link{ text-decoration:underline;}

#table_two{ border-top: #929292 1px solid;border-left: #c8c8c8 1px solid;border-bottom: #c8c8c8 1px solid; background-color:#FFFFFF}
#table_two td{ border-right: #c8c8c8 1px solid;border-top: #c8c8c8 1px solid; text-align:left; font-size:12px; padding:5px; text-indent:1em}
#table_two td img{ padding:0 2px 0 5px;}
#table_two th{ border-right: #c8c8c8 1px solid; background:url(../img/table_title_bg.gif) repeat-x top; text-align:left;font-size:12px;color:#0b5d9a;height:28px}
#table_two tr{ height:20px}

/* 浮动窗口样式 */

#download_now,#d1,#d2,#d3,#d4{cursor:pointer; }

/* mouseover state */
#download_now:hover {background-position:0 -44px;}

/* clicked state */  
#download_now:focus {background-position:0 -88px;}   

/* tooltip styling */  
.tooltip {display:none; 
background:url(../img/black_arrow_big.png);
height:163px;
padding:40px 30px 10px 30px;
width:310px;
font-size:11px;
color:#fff;  }

/* a .label element inside tooltip */
.tooltip .label {color:yellow; width:35px;}
.tooltip a {color:#ad4;font-size:11px;font-weight:bold;  }

/* tooltip下方出现样式 */
.tooltip.bottom {
  background:url(../img/black_arrow_big_down.png);
  padding-top:63px;
  height:140px;
}

/* 苹果风格点击框 */
.apple_overlay {display:none;font-size:12px;width:743px}


/*翻页*/

DIV.quotes {
	TEXT-ALIGN: center;
	padding: 3px;
	margin-top: 3px;
	margin-right: 30px;
	margin-bottom: 15px;
	margin-left: 23px;
	float: right;
	display:inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
DIV.quotes A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #aaa; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
DIV.quotes A:hover {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #a0a0a0 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a0a0a0 1px solid
}
DIV.quotes A:active {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #a0a0a0 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a0a0a0 1px solid
}
DIV.quotes SPAN.current {
	BORDER-RIGHT: #e0e0e0 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #e0e0e0 1px solid;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #e0e0e0 1px solid;
	COLOR: #aaa;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #e0e0e0 1px solid;
	BACKGROUND-COLOR: #f2f2f2
}
DIV.quotes SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}


/* 扩展应用按钮样式 */
.btn1 {position:relative;display:block;width:62px;height:62px;background:url(../img/menu_1.gif) top no-repeat;cursor: pointer;text-indent:-9999px;}	
.btn1 span.hover {position: absolute;display: block;width:62px;height:62px;background:url(../img/menu_1.gif) bottom no-repeat;text-indent:-9999px;}
.btn2 {position:relative;display:block;width:62px;height:62px;background:url(../img/menu_2.gif) top no-repeat;cursor: pointer;text-indent:-9999px;}	
.btn2 span.hover {position: absolute;display: block;width:62px;height:62px;background:url(../img/menu_2.gif) bottom no-repeat;text-indent:-9999px;}
.btn3 {position:relative;display:block;width:62px;height:62px;background:url(../img/menu_3.gif) top no-repeat;cursor: pointer;text-indent:-9999px;}	
.btn3 span.hover {position: absolute;display: block;width:62px;height:62px;background:url(../img/menu_3.gif) bottom no-repeat;text-indent:-9999px;}
.btn4 {position:relative;display:block;width:62px;height:62px;background:url(../img/menu_4.gif) top no-repeat;cursor: pointer;text-indent:-9999px;}	
.btn4 span.hover {position: absolute;display: block;width:62px;height:62px;background:url(../img/menu_4.gif) bottom no-repeat;text-indent:-9999px;}