            /*地图div样式*/
            #map {
                clear: both;
                position: relative;
                width: 670px;
                height: 512px;
                border: 1px solid black;
                background: #FFFFFF;
            }
            /*坐标信息*/
            #location {
             float : right
            } 
            
            
            /*控制左右div水平排放*/
            #leftDiv {
               background:#fff;
               float : left;
               min-height : 700px
            }
            
            #rightDiv {
               width:160px;
               float:right;
               background:#fff; 
               border-left: #a6bfaa 1px solid; 
               border-right: #a6bfaa 1px solid; 
               border-bottom: #a6bfaa 1px solid;
               min-height:700px;
               margin-right : 10px;
            }
            
            #kqSelect {
               list-style-type : none
            }
            #kqSelect li{
               float : left
            }            
            #mapSelect {
               list-style-type : none
            }
            #mapSelect li{
               float : left
            }            